<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/styles/style.css" rel="stylesheet" />
    <title>Python Job Scraper</title>
  </head>
  <body>
    <div id="blank"></div>
    <div id="name">
      <span id="app">Python Job Scraper</span>
      <span id="by">by Sangderella</span>
    </div>

    <div id="search">
      <form action="/search">
        <input name="keyword" placeholder="Enter a keyword here" />
        <button>Search</button>
      </form>
    </div>
  </body>
</html>
